body {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 100vh;
    padding: 0;
}

input {
    margin-top: 40px;
    height: 80px;
    width: 360px;
    background-color: lightgreen;
    border: 2.5px solid #222;
    border-radius: 2px;
    font-size: 65px;
    font-weight: 600;
    padding-left: 8px;
    padding-right: 8px;
}

button {
    color: white;
    background-color: #222;
    height: 70px;
    width: 70px;
    font-size: 30px;
    border-style: solid;
    border-radius: 6px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 630px;
    border: 5px solid #222;
    border-radius: 8px;
    align-items: center;
    gap: 30px;
    background-color: lightslategrey;
}

.buttons {
    /* border: 2px solid blue; */
    
    height: 400px;
    width: 370px;
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.buttons button:hover {
    opacity: 70%;
}

.buttons button:active {
    opacity: 90%;
}
.row {
    display: flex;
    justify-content: center;
    gap: 30px;
}

p {
    font-style: italic;
    font-size: 35px;  
    font-weight: 600;
    color: rgb(6, 68, 6);
}