body {
    display: flex; 
    align-items: center; 
    justify-content: center;
    height: 100vh;
}

input {
    margin-top: 40px;
    height: 80px;
    width: 370px;
    background-color: lightgreen;
    border: 2.5px solid #222;
    border-radius: 2px;
}

button {
    color: white;
    background-color: #222;
    height: 70px;
    width: 70px;
    font-size: 30px;
    border-style: solid;
    border-radius: 6px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 630px;
    border: 5px solid #222;
    border-radius: 8px;
    align-items: center;
    gap: 30px;
    background-color: lightslategrey;
}

.buttons {
    /* border: 2px solid blue; */
    
    height: 400px;
    width: 370px;
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.row {
    display: flex;
    justify-content: center;
    gap: 30px;
}